html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.u-x_c {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    box-shadow: 0rem 0rem 4rem 0rem #C1BBED5C;
    background-color: black;
    /* max-width: 100%; */
    color: #8F93A2;
    font-family: 'Consolas';
    width: 42rem;
    padding: 20px;
}

.i-l_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    float: left;
}

.u-n_m {
    padding: 10px;
    margin: 10px;
    font-size: 16pt;
}

.u-t_s {
    font-size: 12pt;
    color: #3B3F51;
    font-style: oblique;
}

.u-i_m {
    box-shadow: 0rem 0rem 2rem 0rem #C1BBED5C;
    padding: 10px;
    margin: 10px;
}

.u-a_b {
    padding: 10px;
    margin: 10px;
}

._db {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.j-r_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    float: right;
    padding: 20px;
}

.c-b_u {
    width: 100%;
    padding: 10px;
    margin: 10px;
}